
html,

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.container-fluid{
  background-color: black;
  height: 100vh;
  color: white;
  text-align: center;
  display: block;


}



header{
  height: 100vh;
	background-image: url("img/zdj.jpg");
	background-size: cover;
  }



 .nav{
 	background-color: white;
 }
.nav-link{
	
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 20px;
	color: black;
	margin: 15px 10px 5px 10px;
  letter-spacing: 3px;
  font-weight: bold;

}

.nav-link:hover {
  transition: all 0.4s ease-out;
  text-decoration: none;
  color: #946f6f;
}

#carousel{
  height: auto;
  width: 45%;
  left: 5%;
  top: 5%;
  
  }

#arrow{
  position: fixed;
  right: 47.5%;
  bottom: 5%;
  color: white;
}

#arrow:hover {
  transform: translate(0, 20px);
  transition: transform 0.4s ease-in-out;
}


#arrow:hover {
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: #946f6f;
}


